# For the tutorials
numpy
scipy
matplotlib
pandas
statsmodels
# temporary version limit, see https://github.com/numpy/numpy-tutorials/issues/179
imageio<2.28
# For supporting .md-based notebooks
jupytext
