name: Test building site with conda environment

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 5 * * 1'
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}-latest

    strategy:
      matrix:
        os: [ubuntu, macos, windows]

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      - uses: conda-incubator/setup-miniconda@835234971496cad1653abb28a638a281cf32541f  # v3.2.0
        with:
          auto-update-conda: true
          activate-environment: numpy-tutorials
          environment-file: environment.yml
          miniforge-version: latest
          use-mamba: true
          python-version: "3.11"
          auto-activate-base: false
      - name: inspect and build
        id: build_step
        continue-on-error: true
        run: |
          conda info
          conda list
          export OMP_NUM_THREADS=1
          python -m tox -e py313-buildhtml

      - name: fail on build errors
        if: steps.build_step.outcome != 'success'
        run: exit 1
